header{
    height:70px;
    border:solid;
    
}
nav
{
    height:50px;
    border: solid;
    
}
section{
    height:500px;
    width:19%;
  
}

aside{
    height:500px;
    width:80%;
    float: right;
    margin-top:-500px;
}
footer{
    height: 50px;
    border: solid;
}
#btn1{
    height:40px;
    width: 50px;
    background-color:peachpuff;
    
    margin-left: 20px;
    
}
#btn2{
    height:40px;
    width:60px;
    margin-left:70px;
    background-color:peachpuff;

}
#btn3{
    height:40px;
    width: 62px;
    margin-left:80px;
    background-color:peachpuff;
}
#btn4{
    height:30px;
    width:80px;
   

}

#btn7{
    height:30px;
    width:60px;
}
td
{
    border-spacing:15px;
    border-left: 10px;
    border-right: 10px;
    margin-left: 30px;
    
}
tr
{
    border-spacing:35px;
    border-left: 50px;
}
table{
    border-spacing:6px;
}
